@media screen and (max-width: 1280px) {
    #user-view {
        display: grid;
        grid-template-columns: 1fr;
        
        max-height: 92dvh;
    }

    .course-redirect {
        display: block;
    }

    #course-decks-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        justify-content: left;
        margin-left: 1rem;
    }

    #study-options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .study-option {
        width: 95%;
    }

    .study-option:first-child {
        display: none;
    }

    #page-logo {
        display: none;
    }

    #header {
        justify-content: right;
        width: 75vw;
        
    }

    .delete-prompt {
        width: 70vw;
    }

    .delete-options {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .delete-option {
        width: 100%;
    }
    
    .rename {
        width: 80%;
    }

    .create-prompt {
        width: 70vw;
    }

    #deck-edit {
        display: grid;
        grid-template-rows: 1fr 15fr;
        grid-template-columns: 1fr;
        place-items: center;
        height: 85dvh;
        row-gap: 0rem;

    }
    #edit-select {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        
    }

    .deck-preview {
        margin-right: 2rem;
    }

    .deck-info-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    #card-creation {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        height: 190dvh;
        overflow: scroll;
        place-items: center;
        margin-right: 20px;
    }

    #create-card-form {
        margin-top: 1rem;
        width: 90vw;
    }

    #formatted-output {
        width: 90vw;
    }
}

