:root {
    --text: #dbdcf3;
    --background: #111119;
    --primary: #8d8fd9;
    --secondary: #20222E;
    --accent: #ca6069;
    --green: #81B17E;
}

#header {
    position: sticky;

    top: 0;

   
    width: calc(100vw - 5rem);
    height: 8dvh;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    z-index: 1;

    /* Add a blur effect*/
    backdrop-filter: blur(10px);

    
    
}

.login-register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 2rem;

    
}


.login-input {
    height: 8dvh;
    width: 75vw;
    

    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.login-input:focus,
.login-input:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 20px 8px var(--secondary);
}



#login-submit {
    color: var(--text);
    width: 50vw;
    height: 8dvh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    input {
        font-size: 22px !important;
    }
    .login-input {        
        height: 10dvh;
    }

}

#user-view {
    display: grid;
    grid-template-columns: 0.5rem 1fr 3fr 0.5rem;
    
    max-height: 92dvh;
}

.course-redirect {
    display: none;
}


.screen-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    backdrop-filter: blur(10px);
    z-index: 998;
    
}

#root {
    height: 100dvh;
}

#back {
    position: absolute;
    left: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    
}

#profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}


.file-input {
    display: none;
}

.file-lable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 85%;
    border: 2px dashed var(--text);
    align-items: center;
    text-align: center;
    padding: 5px;
  
}

.redirect-form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.redirect-link {
    color: var(--accent);
}

