
:root {
    --text: #dbdcf3;
    --background: #111119;
    --primary: #8d8fd9;
    --secondary: #20222E;
    --accent: #ca6069;
    --green: #81B17E;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text);
    
    box-shadow: inset 0 0 20px 20px transparent;
}
  


* {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    
    line-height: 1.2;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.1em;
}

h4,
h5,
h6 {
    font-size: 1em;
}




body {
    margin: 0;
    color: var(--text);
    background-color: var(--background);
    overflow-x: hidden;
    
    
}

textarea {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    overflow-y: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

button {
    background-color: var(--accent);
    border: none;
    font-weight: bold;
    color: var(--background);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text);
}

input {
    background-color: transparent;
    color: var(--text);
    outline: none;
    border: none;
    width: 100%;
}

::placeholder {
    color: var(--text);
}

.pointer {
    cursor: pointer;
}

.border {
    border-radius: 15px;
    
}

.text {
    padding-left: 20px;
}


.shadow-secondary {
    box-shadow: 0px 5px 10px 1px var(--secondary);
}

.shadow-accent {
    box-shadow: 0px 1px 10px 0px var(--accent);
}

.full {
    width: 100vw;
    height: 100dvh;
}

.fill {
    width: 100%;
    height: 100%;
}

.place-center {
    display: grid;
    place-items: center;
}

.card {
    width: 90%;
    height: 90%;
}

.place-center {
    display: grid;
    place-items: center;
}

.accent {
    background-color: var(--accent);
}

.green {
    background-color: var(--green);
}

.shadow-green {
    box-shadow: 0px 1px 10px 0px var(--green);
}

.primary-text {
    color: var(--primary);
}

.primary {
    background-color: var(--primary);
}



.shadow-primary {
    box-shadow: 0px 1px 10px 0px var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.background {
    background-color: var(--background);
}

.shadow-margin {
    margin: 10px;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.transition-to-primary {
    transition: all 0.2s ease-in-out;
}

.transition-to-primary:hover {
    color: var(--primary);
}
